.container {
}

.container > main {
  margin: 0 auto;
  margin-top: calc(var(--header-heigth) + 1.5rem);

  max-width: var(--page-max-width);
  padding: var(--page-inner-padding);
  min-height: calc(100vh - var(--header-heigth));
  box-sizing: border-box;
}
