.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.container > img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.container > h2 {
  margin: 0px;
}

.container .created_time {
  color: var(--fg-opacity-color);
}

.container .tag_list_wrapper {
  display: flex;
  gap: 0.5rem;
}
